<a href="https://colab.research.google.com/github/SemenyachenkoDY/LabOP/blob/main/SemenyachenkoD_lab4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


#Выполнил: Семенченко Данил Юрьевич
#Группа: АДЭУ-221
#E-mail: Jackushka@yandex.ru

# №4.2.1 
Рассчитать значение f при заданном значении вещественного числа x:
![image.png]()
При выводе на экран оставьте 2 знака после запятой.

In [ ]:
x = float(input())

if x >= 0:
    f = (x**(1/2))+(x**2)
else:
    f = 1/x

print('Получившийся результат: ', round(f, 2))

# --------------
# Пример вывода:
#
# Введите число x: -10
# f = -0.10

# Введите число x: 0
# f = 0.00

# Введите число x: 10
# f = 103.16

Получившийся результат:  103.16

# №4.2.2
Определите максимальное и минимальное значения из двух различных целых чисел.

In [ ]:
a = int(input("Первое число: "))
b = int(input("Второе число: "))
if a != b:
    if a > b:
        print('максимум',a,'минимум',b)
    else:
        print('максимум',b,'минимум',a)
else:
      print('максимум',a,'минимум',b)
# --------------
# Пример вывода:
#
# Введите первое число: 1
# Введите второе число: 2
# Максимум: 2, минимум: 1

# Введите первое число: 5
# Введите второе число: 5
# Максимум: 5, минимум: 5

# Введите первое число: 100
# Введите второе число: -1
# Максимум: 100, минимум: -1

Первое число: 100
Второе число: -1
максимум 100 минимум -1

 # №4.2.3
 Вася пытается высунуть голову в форточку размерами a и b см. Приняв условно, что его голова - круглая диаметром d см, определите, сможет ли Вася сделать это. Для прохождения головы в форточку необходим зазор в 1 см. с каждой стороны.

Все величины - целые числа.

In [ ]:
a= int(input('Введите значение ширины форточки: '))
b = int(input('Введите значение высоты форточки: '))
c = int(input('Введите значение диаметра головы мальчика: '))

if ((a or b or c) < 0):
    print('Ошибка. Невозможно выполнить скрипт. Вы ввели отрицательное значение.')
else:
    if ((a-1>=c) and (b-1>=c)):
        print('Да.')
    else:
        print('Нет.')

# --------------
# Пример вывода:
#
# Ширина форточки: 5
# Высота форточки: 6
# Диаметр головы: 6
# Нет

# Ширина форточки: 6
# Высота форточки: 7
# Диаметр головы: 4
# Да

Введите значение ширины форточки: 6
Введите значение высоты форточки: 7
Введите значение диаметра головы мальчика: 4
Да.

# №4.2.4
Известны год и номер месяца сегодняшнего дня, а также год и номер месяца рождения человека (нумерация месяцев с 1: январь - 1 и т.д.). Определите возраст человека (число полных лет).

In [ ]:
y_today = int(input('Введите текущий год: '))
m_today = int(input('Введите текущий месяц: '))

year = int(input('Введите год рождения: '))
month= int(input('Введите месяц рождения: '))

age = y_today-year

if (m_today or month)<=0:
    print('Невозможно выполнить скрипт.')
else:
    if month>m_today:
        print('Число полных лет:', age-1)
    else:
        print('Число полных лет:', age)
# --------------
# Пример вывода:
#
# Введите текущий год: 2017
# Введите текущий месяц: 5
# Введите год рождения: 2000
# Введите месяц рождения: 1
# Число полных лет:  17
#
# Введите текущий год: 2015
# Введите текущий месяц: 6
# Введите год рождения: 2010
# Введите месяц рождения: 8
# Число полных лет:  4
#
# Введите текущий год: 2020
# Введите текущий месяц: 5
# Введите год рождения: 2000
# Введите месяц рождения: 5
# Число полных лет:  20

Введите текущий год: 2017
Введите текущий месяц: 5
Введите год рождения: 2000
Введите месяц рождения: 1
Число полных лет: 17

# №4.2.5

Дана точка с целыми ненулевыми координатами (x;y). Определить номер четверти координатной плоскости, которой она принадлежит.

In [ ]:
x = int(input())
y = int(input())

if (x>0 and y>0):
    print('Точка находится в 1-й четверти.')
elif (x<0 and y>0):
    print('Точка находится во 2-й четверти.')
elif (x<0 and y<0):
    print('Точка находится в 3-й четверти.')
elif (x>0 and y<0):
    print('Точка находится в 4-й четверти.')
elif (x==0 and y==0):
    print('Точка находится на пересечении осей x и y.')
elif x==0:
    print('Точка находится на оси x.') 
elif y==0:
    print('Точка находится на оси y.') 

# --------------
# Пример вывода:
#
# Введите координату x: 5
# Введите координату y: 7
# 1-я четверть

5
7
Точка находится в 1-й четверти.

# №4.2.6
Даны вещественные числа a, b, c (a≠0).

Решите уравнение ax2+bx+c=0. При выводе значений оставьте 1 знак после запятой

In [ ]:
a = float(input('a= '))
b = float(input('b= '))
c = float(input('c= '))

D = ((b**2)-(4*a*c))
if D<0:
    print('Нет решения.')
elif D==0:
    x1 = ((-1*b)/2*a)
    print('x = ', x1)
elif D>0:
    x2 = (((-1*b)+(D**(1/2)))/2*a)
    x1 = (((-1*b)-(D**(1/2)))/2*a)
    print('x1 =',x1,'x2 =',x2)
# --------------
# Пример вывода:
#
# a = 1
# b = 2
# c = 3
# Решений нет
#
# a = 1
# b = 2
# c = 1
# x = -1.0
#
# a = 1
# b = 3
# c = -4
# x1 = -4.0, x2 = 1.0

a= 1
b= 2
c= 1
x =  -1.0

# №4.2.7
Дана непустая последовательность целых чисел, оканчивающаяся нулем. Найти сумму и количество введенных чисел.

In [ ]:
nums_s = 0 
nums_c = 0  

j = int(input())
a = []

while j != 0:
    nums_c = nums_c+1
    a.append(j)
    nums_s = nums_s+j
    j = int(input())

print('Сумма = ', nums_s)
print('Количество = ',nums_c)
# --------------
# Пример вывода:
#
# Введите 1-е число: 1
# Введите 2-е число: 2
# Введите 3-е число: 3
# Введите 4-е число: 4
# Введите 5-е число: 0
# Сумма = 10
# Количество = 4
#
# Введите 1-е число: 0
# Сумма = 0
# Количество = 0

1
2
3
4
0
Сумма =  10
Количество =  4

# №4.2.8
Дано число n. Из чисел 0,5,10,15,20,25,... напечатать те, которые не превышают n.

In [ ]:
n = int(input('Введите число n: '))
j = 0
a = list()
a.append(j)
while j<=n:
    j = j+5
    a.append(j) 
a.pop()
print(a)
# --------------
# Пример вывода:
#
# n = 0
# 0
#
# n = 10
# 0
# 5
# 10
#
# n = 12
# 0
# 5
# 10

Введите число n: 12
[0, 5, 10]

# №4.2.9
Дано вещественное число a. Найдите наименьшее натуральное n, для которого верно![image.png]()

In [ ]:
a = float(input('Введите вещественное число: '))

n = 1 
b_sum = list() 
b_sum.append(n) 

while sum(b_sum)<=a: 
    n = n+1
    j = 1/n
    b_sum.append(j) 

print(n)
# --------------
# Пример вывода:
#
# a = 1.5
# n = 3
#
# a = 2
# n = 4

Введите вещественное число: 2
4

# №4.2.10
Дано натуральное число. Определите сумму и количество его цифр.

In [ ]:
n = int(input("n="))

num= 0
summ = 0

while(n): 
   num = num + 1
   summ = summ + n % 10
   n = n // 10
print('Сумма=',summ)
print('Количество=',num)
# --------------
# Пример вывода:
#
# n = 12345
# Сумма = 15
# Количество = 5

n=12345
Сумма= 15
Количество= 5

# №4.2.12
Вывести в строку 10 первых натуральных чисел, оканчивающихся на цифру k, кратных числу s и находящихся в интервале, левая граница которого равна start.

In [ ]:
a = int(input('Введите первое число: '))
b = int(input('Введите второе число: '))

ls = list(range(a,b+1,1))
print(ls)


ls.reverse()
print("\n".join(map(str, ls)))
# --------------
# Пример вывода:
#
# a = 1
# b = 5
# 1 2 3 4 5
# 5
# 4
# 3
# 2
# 1

Введите первое число: 1
Введите второе число: 5
[1, 2, 3, 4, 5]
5
4
3
2
1

# №4.2.14
Начав тренировки, лыжник в первый день пробежал s км. (s>0, вещественное число). Каждый следующий день он увеличивал пробег на p % (0<p≤100, вещественное число) от пробега предыдущего дня. Определите:

пробег лыжника за второй, третий, …, десятый день тренировок;

какой суммарный путь он пробежал за первые 10 дней тренировок.

При выводе вещественных результатов оставьте один знак после запятой.

In [ ]:
s = float(input('Введите кол-во км в первый день: '))
p = float(input('Введите процент увеличения нагрузки: '))

tot = list() 
tot.append(s) 

j = 0 
h = 1
for i in range(9): 
    s = ((s*(p/100))+s)+0.0001
    h += 1
    tot.append(s)
    print('Пробег за',h,'день: ', round(s,1), 'км.')

total = sum(tot)
print("Суммарный пробег: ", round(total,1))
# --------------
# Пример вывода:
#
# Пробег за 1-й день (км.) = 5
# На сколько увеличивает пробег (%) = 10
# Пробег за 2-й день: 5.5 км.
# Пробег за 3-й день: 6.1 км.
# Пробег за 4-й день: 6.7 км.
# Пробег за 5-й день: 7.3 км.
# Пробег за 6-й день: 8.1 км.
# Пробег за 7-й день: 8.9 км.
# Пробег за 8-й день: 9.7 км.
# Пробег за 9-й день: 10.7 км.
# Пробег за 10-й день: 11.8 км.
# Суммарный пробег: 79.7 км.

Введите кол-во км в первый день: 5
Введите процент увеличения нагрузки: 10
Пробег за 2 день:  5.5 км.
Пробег за 3 день:  6.1 км.
Пробег за 4 день:  6.7 км.
Пробег за 5 день:  7.3 км.
Пробег за 6 день:  8.1 км.
Пробег за 7 день:  8.9 км.
Пробег за 8 день:  9.7 км.
Пробег за 9 день:  10.7 км.
Пробег за 10 день:  11.8 км.
Суммарный пробег:  79.7

# №4.2.15
Известна масса каждого предмета в кг., загружаемого в грузовик. Определить, возможна ли перевозка груза, если грузоподъемность грузовика равна p кг.

In [ ]:
p = int(input('грузоподъемность грузовика (кг.): '))
n = int(input('количество предметов (шт.): '))

amount = list()
for i in range(n):
    g = int(input('Введите массу предмета (кг.): '))
    amount.append(g)
if sum(amount)>=p: 
    print('Нет.')
else:
    print('Да.')
# --------------
# Пример вывода:
#
# Грузоподъемность грузовика (кг.) = 10
# Количество предметов = 2
# Масса 1-го предмета (кг.) = 3
# Масса 2-го предмета (кг.) = 3
# Да

грузоподъемность грузовика (кг.): 10
количество предметов (шт.): 2
Введите массу предмета (кг.): 3
Введите массу предмета (кг.): 3
Да.

# №4.2.16
В области несколько районов. Заданы площади, засеваемые пшеницей (га.), и средняя урожайность (ц/га) в каждом районе.

Определите количество пшеницы, собранное по области. При выводе вещественных результатов оставьте один знак после запятой.

In [ ]:
n = int(input(' кол-во районов: '))

total = list() 
for i in range(n):
    s = float(input('Введите площадь района (га): '))
    p = float(input('Введите урожайность в районе (ц/га.): ')) 
    j = p*s
    total.append(j)

print(round(sum(total), 1))

# --------------
# Пример вывода:
#
# Количество районов = 3
# Площадь 1-го района (га) = 4
# Урожайность в 1-м районе (ц/га.) = 2
# Площадь 2-го района (га) = 7
# Урожайность в 2-м районе (ц/га.) = 3
# Площадь 3-го района (га) = 9
# Урожайность в 3-м районе (ц/га.) = 4
# Собрано пшеницы: 65.0 ц.

 кол-во районов: 3
Введите площадь района (га): 4
Введите урожайность в районе (ц/га.): 2
Введите площадь района (га): 7
Введите урожайность в районе (ц/га.): 3
Введите площадь района (га): 9
Введите урожайность в районе (ц/га.): 4
65.0

# №4.2.17
Решите задачу № 4.2.7, организовав бесконечный цикл, который бы прерывался при выполнении условия, используя оператор break.

In [ ]:
nums_sum = 0  #сумма
nums_count = 0  #кол-во

a = int(input('Введите число. '))
b = list()

while a!=0:
    nums_count = nums_count+1
    b.append(a)
    nums_sum = nums_sum+a
    a = int(input('Введите новое число. '))
    if a==0:
        break

print('Сумма = ', nums_sum)
print('Количество = ',nums_count)

# --------------
# Пример вывода:
#
# Введите 1-е число: 1
# Введите 2-е число: 2
# Введите 3-е число: 3
# Введите 4-е число: 4
# Введите 5-е число: 0
# Сумма = 10
# Количество = 4
#
# Введите 1-е число: 0
# Сумма = 0
# Количество = 0

Введите число. 1
Введите новое число. 2
Введите новое число. 3
Введите новое число. 4
Введите новое число. 0
Сумма =  10
Количество =  4

# №4.2.19
Выведите на экран (в строку) все целые числа от a до b, кратные некоторому числу c.

In [ ]:
a=int(input("a="))
b=int(input("b="))
c=int(input("c="))
for i in range(a,b+1):
    if i%c==0:
        print(i,end=" ")
# Удалите комментарий и допишите код

# --------------
# Пример вывода:
#
# a = 1
# b = 10
# c = 2
# 2 4 6 8 10

a=1
b=10
c=2
2 4 6 8 10

# №4.2.20

Выведите на экран (в строку) все трехзначные натуральные числа, сумма цифр которых равна целому числу n (0<n≤27).

In [ ]:
n = int(input())
for i in range(100, 1000):
    b = sum(int(s) for s in str(i)) 
    if b == n:
        print(i,end=" ")
# Удалите комментарий и допишите код
# --------------
# Пример вывода:
#
# n = 3
# 102 111 120 201 210 300

3
102 111 120 201 210 300

# №4.2.21
Известно количество учеников в классе и их рост (см.); рост мальчиков условно задан отрицательными числами. Определите средний рост мальчиков и средний рост девочек.

При выводе вещественных результатов оставьте один знак после запятой.

In [ ]:
n = int(input("n= "))
b=0
rm = 0
rd = 0
i=1
while i <=n:
    r=int(input("Рост "+ str(i) + "-го ученика="))
    i+=1
    if r <0 :
        b+=1
        rm -= r
    else :
        rd += r
r_sr_m= rm / b 
r_sr_d = rd / (n - b)

# Удалите комментарий и допишите код

print("Средний рост мальчиков: {:.1f}".format(r_sr_m))
print("Средний рост девочек: {:.1f}".format(r_sr_d))

# --------------
# Пример вывода:
#
# n = 5
# Рост 1-го ученика = 150
# Рост 2-го ученика = -150
# Рост 3-го ученика = 160
# Рост 4-го ученика = 170
# Рост 5-го ученика = 180
# Средний рост мальчиков: 150.0
# Средний рост девочек: 165.0

n= 5
Рост 1-го ученика=150
Рост 2-го ученика=-150
Рост 3-го ученика=160
Рост 4-го ученика=170
Рост 5-го ученика=180
Средний рост мальчиков: 150.0
Средний рост девочек: 165.0

# №4.2.22
Даны n вещественных чисел. Определите максимальное и минимальное из них.

При выводе вещественных результатов оставьте два знака после запятой.

In [ ]:
n = int(input("n="))
a=float(input())
max=min=a
i=1
while i <=n:
    r=float(input(str(i) + "-е число = "))
    i+=1
    if r<=max and r>min:
      max=r
    if r<max and r<min:
      min=r
print("Максимум: {:.2f}".format(max))
print("Минимум: {:.2f}".format(min))

# --------------
# Пример вывода:
#
# n = 4
# 1-е число = 6.2
# 2-е число = 3.8
# 3-е число = 1.1
# 4-е число = 9.66
# Максимум: 9.66
# Минимум: 1.10

n=4
99999
1-е число = 6.2
2-е число = 3.8
3-е число = 1.1
4-е число = 9.66
Максимум: 9.66
Минимум: 1.10

# №4.2.23
Дано натуральное число n. Определите, является ли оно членом последовательности Фибоначчи .

In [ ]:
n = int(input('n='))
fib1 = 1
fib2 = 1
a = 1
while n!=fib1:
    if n<fib1:
        print('не является.')
        break
    else:
        a = fib1
        fib1 += fib2
        fib2 = a
else:
    print('является.')
# --------------
# Пример вывода:
#
# n = 7
# Не является
#
# n = 8
# Является

n=8
является.

# №4.2.26
Выведите графическое изображения делимости чисел от 1 до n (значение n вводится с клавиатуры) - в каждой строке напечатайте очередное число и столько символов *, сколько делителей у этого числа.

Например, если n=4, на экране должно быть напечатано:
![image.png]()

In [ ]:
n=int(input())
for i in range(1,n+1):
    a=2
    c=2
    while(c*c<=i):
        if i%c==0:
            a+=1
            b=i//c
            if b != c:
                a+=1
        c+=1        
    print(i,a*"*");
# --------------
# Пример вывода:
#
# n = 10
# 1 *
# 2 **
# 3 **
# 4 ***
# 5 **
# 6 ****
# 7 **
# 8 ****
# 9 ***
# 10 ****

10
1 **
2 **
3 **
4 ***
5 **
6 ****
7 **
8 ****
9 ***
10 ****

# №4.2.28
Составьте программу для нахождения всех натуральных решений уравнения x2+y2+z2=k2, где x,y,z∈[1,30], а k вводится с клавиатуры.

In [ ]:
k= int(input('Введите число: '))

for x in range(1, 31):
    for y in range(1, 31):
        for z in range(1, 31):
            if ((x**2)+(y**2)+(z**2))==k**2:
                print(f'x = {x}, y = {y}, z = {z}')

# --------------
# Пример вывода:
#
# k = 30
# x =  4, y = 10, z = 28
# x =  4, y = 20, z = 22
# x =  4, y = 22, z = 20
# x =  4, y = 28, z = 10
# x = 10, y =  4, z = 28
# x = 10, y = 20, z = 20
# x = 10, y = 28, z =  4
# x = 20, y =  4, z = 22
# x = 20, y = 10, z = 20
# x = 20, y = 20, z = 10
# x = 20, y = 22, z =  4
# x = 22, y =  4, z = 20
# x = 22, y = 20, z =  4
# x = 28, y =  4, z = 10
# x = 28, y = 10, z =  4

Введите число: 30
x = 4, y = 10, z = 28
x = 4, y = 20, z = 22
x = 4, y = 22, z = 20
x = 4, y = 28, z = 10
x = 10, y = 4, z = 28
x = 10, y = 20, z = 20
x = 10, y = 28, z = 4
x = 20, y = 4, z = 22
x = 20, y = 10, z = 20
x = 20, y = 20, z = 10
x = 20, y = 22, z = 4
x = 22, y = 4, z = 20
x = 22, y = 20, z = 4
x = 28, y = 4, z = 10
x = 28, y = 10, z = 4